############序列配置说明############start###############################################################
#
# FIX_PREFIX   最终流水固定前缀，如没有，可不写该节点或者值为空最终流水固定前缀，如没有，可不写该节点或者值为空
# HAS_DATE     最终流水是否包含日期
#               0 不包含日期
#               1 包含日期，格式为yymmdd
#               2 包含日期，格式为yyyymmdd
#               3 包含日期，格式为yyyy
#               4 包含日期，格式为yy
#               5 包含日期，格式为mm
#               6 包含日期，格式为dd
#               7 包含日期，格式为yymmddhh24miss
#               8 包含日期，格式为yymmddhh24mi
#               9 包含日期，格式为yymmddhh24
# HAS_RAND     取序列的哪一位的值，位数从1开始，如果取多位的话，用 | 拼起来
#              该节点主要针对三户标识规则产生。最终流水值是否需要包含随机数，目前只支持从序列产生的值中获取。
#              比如取序列值的第3位，则值为3；比如取序列的第3位和第4位，则指为3|4。如没有，可不写该节点或者值空
# HAS_REGION   最终流水是否包含地市编码，1为包含，0不包含(序列名是否包含地市编码)
# SEQ_NAME     序列名
# SEQ_NAME_EXT 列名是否包含地市代码  0不包含，1包含
# SEQ_LEN      序列长度
# FIX_SUFFIX   最终流水固定后缀，如没有，可不写该节点或者值为空
############序列配置说明############end#################################################################


# 家庭商品订购实例标识 # 38000000000000 ~ 39999999999999
# SEQ_FM_GOODSINS_ID #
[SEQ_FM_GOODSINS_ID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_GOODSINS_ID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 家庭资费订购实例标识 # 48000000000000 ~ 48999999999999
# SEQ_FM_PRODPRCINS_ID #
[SEQ_FM_PRODPRCINS_ID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_PRODPRCINS_ID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 家庭服务订购实例标识 # 48000000000000 ~ 48999999999999
# SEQ_FM_SVCINSID #
[SEQ_FM_SVCINSID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_SVCINSID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 销售记录序列值 # 40000000000000 ~ 59999999999999
# SEQ_FM_SELLSERIALID #
[SEQ_FM_SELLSERIALID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_SELLSERIALID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 家庭账务关系标识&家庭账户关系标识 # 40000000000000 ~ 59999999999999
# SEQ_FM_ACCTID #
[SEQ_FM_ACCTID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_ACCTID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 成员标识 # 49000000000000 ~ 59999999999999
# SEQ_FM_MEMBERID #
[SEQ_FM_MEMBERID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_MEMBERID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 群实例标识 # 49000000000000 ~ 59999999999999
# SEQ_FM_GROUPID #
[SEQ_FM_GROUPID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_GROUPID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 家庭用户受限序列标识 # 49000000000000 ~ 59999999999999
# SEQ_FM_LIMITINS_ID #
[SEQ_FM_LIMITINS_ID]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_LIMITINS_ID
SEQ_NAME_EXT=0
SEQ_LEN=14
#FIX_SUFFIX=1


# 家客系统通用流水序列&家庭用户状态变化序列号 # 400000000000000000 ~ 599999999999999999
# SEQ_FM_LOGINACCEPT #
[SEQ_FM_LOGINACCEPT]
#FIX_PREFIX=G
HAS_DATE=0
#HAS_RAND=2
HAS_REGION=0
SEQ_NAME=SEQ_FM_LOGINACCEPT
SEQ_NAME_EXT=0
SEQ_LEN=18
#FIX_SUFFIX=1


# 家庭用户标识 # 省份+地市+序列倒数第三位+序列 # 1900000000000 ~ 1999999999999
# 家庭用户虚拟服务号码 与 家庭用户标识 同值 #
# SEQ_FM_USERID_2301 #
[SEQ_FM_USERID_2301]
FIX_PREFIX=23
HAS_DATE=0
HAS_REGION=1
HAS_RAND=11
SEQ_NAME=SEQ_FM_USERID_23
SEQ_NAME_EXT=1
SEQ_LEN=13


# 个人用户标识 # 省份+地市+序列倒数第三位+序列 # 1800000000000 ~ 1899999999999
# 家庭用户虚拟服务号码 与 家庭用户标识 同值 #
# SEQ_UR_USERID_2301 #
[SEQ_UR_USERID_2301]
FIX_PREFIX=23
HAS_DATE=0
HAS_REGION=1
HAS_RAND=11
SEQ_NAME=SEQ_UR_USERID_23
SEQ_NAME_EXT=1
SEQ_LEN=13








