<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sitech.family.custservice.mapper.UserFavMapper">
    <resultMap id="BaseResultMap" type="com.sitech.family.custservice.dto.mapperdto.UserFav">
        <id column="FAVINS_ID" property="favinsId" jdbcType="DECIMAL"/>
        <result column="ATTR_ID" property="attrId" jdbcType="VARCHAR"/>
        <result column="SVC_OBJ_TYPE" property="svcObjType" jdbcType="VARCHAR"/>
        <result column="SVC_OBJ_VALUE" property="svcObjValue" jdbcType="VARCHAR"/>
        <result column="FAV_OBJ_TYPE" property="favObjType" jdbcType="VARCHAR"/>
        <result column="FAV_OBJ_VALUE" property="favObjValue" jdbcType="VARCHAR"/>
        <result column="OPSOURCE_TYPE" property="opsourceType" jdbcType="DECIMAL"/>
        <result column="OPSOURCE_VALUE" property="opsourceValue" jdbcType="VARCHAR"/>
        <result column="FAV_TYPE" property="favType" jdbcType="VARCHAR"/>
        <result column="FAVTEMP_ID" property="favtempId" jdbcType="VARCHAR"/>
        <result column="FAV_ID" property="favId" jdbcType="VARCHAR"/>
        <result column="EFF_DATE" property="effDate" jdbcType="TIMESTAMP"/>
        <result column="EXP_DATE" property="expDate" jdbcType="TIMESTAMP"/>
        <result column="LOGIN_NO" property="loginNo" jdbcType="VARCHAR"/>
        <result column="LOGIN_ACCEPT" property="loginAccept" jdbcType="DECIMAL"/>
        <result column="SERV_ORDER_ID" property="servOrderId" jdbcType="VARCHAR"/>
        <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP"/>
        <result column="OP_CODE" property="opCode" jdbcType="VARCHAR"/>
        <result column="MBR_TYPE" property="mbrType" jdbcType="VARCHAR"/>
        <result column="MBR_ROLE" property="mbrRole" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    FAVINS_ID, ATTR_ID, SVC_OBJ_TYPE, SVC_OBJ_VALUE, FAV_OBJ_TYPE, FAV_OBJ_VALUE, OPSOURCE_TYPE, OPSOURCE_VALUE,
    FAV_TYPE, FAVTEMP_ID, FAV_ID, EFF_DATE, EXP_DATE, LOGIN_NO, LOGIN_ACCEPT, SERV_ORDER_ID, 
    OP_TIME, OP_CODE, MBR_TYPE, MBR_ROLE
  </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
        select
        <include refid="Base_Column_List"/>
        from ur_userfav_info
        where FAVINS_ID = #{favinsId,jdbcType=DECIMAL}
    </select>

    <delete id="drop" parameterType="java.math.BigDecimal">
    delete from ur_userfav_info
    where FAVINS_ID = #{favinsId,jdbcType=DECIMAL}
  </delete>

    <insert id="create" parameterType="com.sitech.family.custservice.dto.mapperdto.UserFav">
        insert into ur_userfav_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="favinsId != null">
                FAVINS_ID,
            </if>
            <if test="attrId != null">
                ATTR_ID,
            </if>
            <if test="svcObjType != null">
                SVC_OBJ_TYPE,
            </if>
            <if test="svcObjValue != null">
                SVC_OBJ_VALUE,
            </if>
            <if test="favObjType != null">
                FAV_OBJ_TYPE,
            </if>
            <if test="favObjValue != null">
                FAV_OBJ_VALUE,
            </if>
            <if test="opsourceType != null">
                OPSOURCE_TYPE,
            </if>
            <if test="opsourceValue != null">
                OPSOURCE_VALUE,
            </if>
            <if test="favType != null">
                FAV_TYPE,
            </if>
            <if test="favtempId != null">
                FAVTEMP_ID,
            </if>
            <if test="favId != null">
                FAV_ID,
            </if>
            <if test="effDate != null">
                EFF_DATE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="loginNo != null">
                LOGIN_NO,
            </if>
            <if test="loginAccept != null">
                LOGIN_ACCEPT,
            </if>
            <if test="servOrderId != null">
                SERV_ORDER_ID,
            </if>
            <if test="opTime != null">
                OP_TIME,
            </if>
            <if test="opCode != null">
                OP_CODE,
            </if>
            <if test="mbrType != null">
                MBR_TYPE,
            </if>
            <if test="mbrRole != null">
                MBR_ROLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="favinsId != null">
                #{favinsId,jdbcType=DECIMAL},
            </if>
            <if test="attrId != null">
                #{attrId,jdbcType=VARCHAR},
            </if>
            <if test="svcObjType != null">
                #{svcObjType,jdbcType=VARCHAR},
            </if>
            <if test="svcObjValue != null">
                #{svcObjValue,jdbcType=VARCHAR},
            </if>
            <if test="favObjType != null">
                #{favObjType,jdbcType=VARCHAR},
            </if>
            <if test="favObjValue != null">
                #{favObjValue,jdbcType=VARCHAR},
            </if>
            <if test="opsourceType != null">
                #{opsourceType,jdbcType=DECIMAL},
            </if>
            <if test="opsourceValue != null">
                #{opsourceValue,jdbcType=VARCHAR},
            </if>
            <if test="favType != null">
                #{favType,jdbcType=VARCHAR},
            </if>
            <if test="favtempId != null">
                #{favtempId,jdbcType=VARCHAR},
            </if>
            <if test="favId != null">
                #{favId,jdbcType=VARCHAR},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=TIMESTAMP},
            </if>
            <if test="loginNo != null">
                #{loginNo,jdbcType=VARCHAR},
            </if>
            <if test="loginAccept != null">
                #{loginAccept,jdbcType=DECIMAL},
            </if>
            <if test="servOrderId != null">
                #{servOrderId,jdbcType=VARCHAR},
            </if>
            <if test="opTime != null">
                #{opTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opCode != null">
                #{opCode,jdbcType=VARCHAR},
            </if>
            <if test="mbrType != null">
                #{mbrType,jdbcType=VARCHAR},
            </if>
            <if test="mbrRole != null">
                #{mbrRole,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="modify" parameterType="com.sitech.family.custservice.dto.mapperdto.UserFav">
        update ur_userfav_info
        <set>
            <if test="attrId != null">
                ATTR_ID = #{attrId,jdbcType=VARCHAR},
            </if>
            <if test="svcObjType != null">
                SVC_OBJ_TYPE = #{svcObjType,jdbcType=VARCHAR},
            </if>
            <if test="svcObjValue != null">
                SVC_OBJ_VALUE = #{svcObjValue,jdbcType=VARCHAR},
            </if>
            <if test="favObjType != null">
                FAV_OBJ_TYPE = #{favObjType,jdbcType=VARCHAR},
            </if>
            <if test="favObjValue != null">
                FAV_OBJ_VALUE = #{favObjValue,jdbcType=VARCHAR},
            </if>
            <if test="opsourceType != null">
                OPSOURCE_TYPE = #{opsourceType,jdbcType=DECIMAL},
            </if>
            <if test="opsourceValue != null">
                OPSOURCE_VALUE = #{opsourceValue,jdbcType=VARCHAR},
            </if>
            <if test="favType != null">
                FAV_TYPE = #{favType,jdbcType=VARCHAR},
            </if>
            <if test="favtempId != null">
                FAVTEMP_ID = #{favtempId,jdbcType=VARCHAR},
            </if>
            <if test="favId != null">
                FAV_ID = #{favId,jdbcType=VARCHAR},
            </if>
            <if test="effDate != null">
                EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expDate != null">
                EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
            </if>
            <if test="loginNo != null">
                LOGIN_NO = #{loginNo,jdbcType=VARCHAR},
            </if>
            <if test="loginAccept != null">
                LOGIN_ACCEPT = #{loginAccept,jdbcType=DECIMAL},
            </if>
            <if test="servOrderId != null">
                SERV_ORDER_ID = #{servOrderId,jdbcType=VARCHAR},
            </if>
            <if test="opTime != null">
                OP_TIME = #{opTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opCode != null">
                OP_CODE = #{opCode,jdbcType=VARCHAR},
            </if>
            <if test="mbrType != null">
                MBR_TYPE = #{mbrType,jdbcType=VARCHAR},
            </if>
            <if test="mbrRole != null">
                MBR_ROLE = #{mbrRole,jdbcType=VARCHAR},
            </if>
        </set>
        where FAVINS_ID = #{favinsId,jdbcType=DECIMAL}
    </update>

    <!-- 历史表 -->
    <insert id="insert" parameterType="com.sitech.family.custservice.dto.mapperdto.UserFav">
        insert into ur_userfav_info_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="favinsId != null">
                FAVINS_ID,
            </if>
            <if test="attrId != null">
                ATTR_ID,
            </if>
            <if test="svcObjType != null">
                SVC_OBJ_TYPE,
            </if>
            <if test="svcObjValue != null">
                SVC_OBJ_VALUE,
            </if>
            <if test="favObjType != null">
                FAV_OBJ_TYPE,
            </if>
            <if test="favObjValue != null">
                FAV_OBJ_VALUE,
            </if>
            <if test="opsourceType != null">
                OPSOURCE_TYPE,
            </if>
            <if test="opsourceValue != null">
                OPSOURCE_VALUE,
            </if>
            <if test="favType != null">
                FAV_TYPE,
            </if>
            <if test="favtempId != null">
                FAVTEMP_ID,
            </if>
            <if test="favId != null">
                FAV_ID,
            </if>
            <if test="effDate != null">
                EFF_DATE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="loginNo != null">
                LOGIN_NO,
            </if>
            <if test="loginAccept != null">
                LOGIN_ACCEPT,
            </if>
            <if test="servOrderId != null">
                SERV_ORDER_ID,
            </if>
            <if test="opTime != null">
                OP_TIME,
            </if>
            <if test="opCode != null">
                OP_CODE,
            </if>
            <if test="mbrType != null">
                MBR_TYPE,
            </if>
            <if test="mbrRole != null">
                MBR_ROLE,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="updateAccept != null">
                UPDATE_ACCEPT,
            </if>
            <if test="updateType != null">
                UPDATE_TYPE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="updateLogin != null">
                UPDATE_LOGIN,
            </if>
            <if test="updateCode != null">
                UPDATE_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="favinsId != null">
                #{favinsId,jdbcType=DECIMAL},
            </if>
            <if test="attrId != null">
                #{attrId,jdbcType=VARCHAR},
            </if>
            <if test="svcObjType != null">
                #{svcObjType,jdbcType=VARCHAR},
            </if>
            <if test="svcObjValue != null">
                #{svcObjValue,jdbcType=VARCHAR},
            </if>
            <if test="favObjType != null">
                #{favObjType,jdbcType=VARCHAR},
            </if>
            <if test="favObjValue != null">
                #{favObjValue,jdbcType=VARCHAR},
            </if>
            <if test="opsourceType != null">
                #{opsourceType,jdbcType=DECIMAL},
            </if>
            <if test="opsourceValue != null">
                #{opsourceValue,jdbcType=VARCHAR},
            </if>
            <if test="favType != null">
                #{favType,jdbcType=VARCHAR},
            </if>
            <if test="favtempId != null">
                #{favtempId,jdbcType=VARCHAR},
            </if>
            <if test="favId != null">
                #{favId,jdbcType=VARCHAR},
            </if>
            <if test="effDate != null">
                #{effDate,jdbcType=TIMESTAMP},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=TIMESTAMP},
            </if>
            <if test="loginNo != null">
                #{loginNo,jdbcType=VARCHAR},
            </if>
            <if test="loginAccept != null">
                #{loginAccept,jdbcType=DECIMAL},
            </if>
            <if test="servOrderId != null">
                #{servOrderId,jdbcType=VARCHAR},
            </if>
            <if test="opTime != null">
                #{opTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opCode != null">
                #{opCode,jdbcType=VARCHAR},
            </if>
            <if test="mbrType != null">
                #{mbrType,jdbcType=VARCHAR},
            </if>
            <if test="mbrRole != null">
                #{mbrRole,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAccept != null">
                #{updateAccept,jdbcType=DECIMAL},
            </if>
            <if test="updateType != null">
                #{updateType,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DECIMAL},
            </if>
            <if test="updateLogin != null">
                #{updateLogin,jdbcType=VARCHAR},
            </if>
            <if test="updateCode != null">
                #{updateCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>